@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
    /* color: white; */
}

/* body {
    background: linear-gradient(to right, #2c5364, #203a43);
} */